In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("train.csv")

In [3]:
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

In [7]:
print(data.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
drop_cols=["PassengerId","Name","Ticket","Cabin","Embarked"]
data_clean=data.drop(drop_cols,axis=1)

In [9]:
print(data_clean.head())

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [10]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()
data_clean["Sex"]=le.fit_transform(data_clean["Sex"])

In [13]:
print(data_clean.head())

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [17]:
print(data_clean.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.3 KB
None

In [18]:
data_clean=data_clean.fillna(data_clean["Age"].mean())

In [20]:
print(data_clean.head())
print(data_clean.info())

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Sex         891 non-null int32
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
dtypes: float64(2), int32(1), int64(4)
memory usage: 45.3 KB
None

In [21]:
input_cols=["Pclass","Sex","Age","SibSp","Parch","Fare"]
output_cols=["Survived"]

In [22]:
x=data_clean[input_cols]
y=data_clean[output_cols]

In [35]:
print(x.head())
print(x.shape,y.shape)
print(type(x))

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    1  22.0      1      0   7.2500
1       1    0  38.0      1      0  71.2833
2       3    0  26.0      0      0   7.9250
3       1    0  35.0      1      0  53.1000
4       3    1  35.0      0      0   8.0500
(891, 6) (891, 1)
<class 'pandas.core.frame.DataFrame'>

In [45]:
def entropy(col):
    counts=np.unique(col,return_counts=True)
    n=float(col.shape[0])
    ent=0.0
    for ele in counts[1]:
        p=ele/n
        ent+=(-1*p*np.log2(p))
    return ent

In [46]:
col=np.array([1,1,1,1,0,1,0])
print(entropy(col))

0.863120568566631

In [48]:
def divide_data(xdata,col,value):
    x_left=pd.DataFrame([],columns=xdata.columns)
    x_right=pd.DataFrame([],columns=xdata.columns)
    
    for ele in range(xdata.shape[0]):
        val=xdata[col].loc[ele]
        if val>value:x_right=x_right.append(xdata.loc[ele])
        else:x_left=x_left.append(xdata.loc[ele])
    return x_left,x_right

In [51]:
def inf_gain(xdata,col,freq):
    left,right=divide_data(xdata,col,freq)
    l=left.shape[0]/xdata.shape[0]
    r=right.shape[0]/xdata.shape[0]
    
    if left.shape[0]==0 or right.shape[0]==0:return -1000
    i_gain=entropy(xdata.Survived)-(l*entropy(left.Survived))-(r*entropy(right.Survived))
    return i_gain

In [53]:
for fx in x.columns:
    print(fx)
    print(inf_gain(data_clean,fx,data_clean[fx].mean()))

Pclass
0.07579362743608165
Sex
0.2176601066606143
Age
0.001158644038169343
SibSp
0.009584541813400127
Parch
0.015380754493137666
Fare
0.04214069283899541